<section class="section about-section gray-bg" id="about">
  <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-lg-6">
          <div class="about-avatar">
              <img src="assets/images/mypics/smile.JPG" title="" alt="">
          </div>
        </div>
          <div class="col-lg-6">
              <div class="about-text go-to">
                  <h3 class="dark-color">About Me</h3>
                  <h6 class="theme-color lead">A passionate frontend developer from China, live in Germany</h6>
                  <p>This is a raw page were created by Yihang YANG. About me is everything amazing something else else</p>
                  <div class="row about-list">
                      <div class="col-md-6">
                          <div class="media">
                              <label>Birthday</label>
                              <p>14th August 1997</p>
                          </div>
                          <div class="media">
                              <label>Company</label>
                              <p>Real Estate Pilot</p>
                          </div>
                          <div class="media">
                              <label>Residence</label>
                              <p>Leipzig, Germany</p>
                          </div>
                          <div class="media">
                              <label>Education</label>
                              <p>B. Msc. & M.A.</p>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="media">
                              <label>E-mail</label>
                              <p>yangyihang@outlook.de</p>
                          </div>
                          <div class="media">
                              <label>Phone</label>
                              <p>+49-0176-5776-1049</p>
                          </div>
                          <div class="media">
                              <label>LinkedIn</label>
                              <p><a href="linkedin.com/in/yihang-yang-1b87aa191/">yangyihang</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="counter">
          <div class="row">
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="500" data-speed="500">3+</h6>
                      <p class="m-0px font-w-600">years exp.</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="150" data-speed="150">3+</h6>
                      <p class="m-0px font-w-600">years exp.</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="850" data-speed="850">3+</h6>
                      <p class="m-0px font-w-600">years exp.</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="190" data-speed="190">3+</h6>
                      <p class="m-0px font-w-600">years exp.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-columns-chart></app-columns-chart>
<app-chart-donut></app-chart-donut>
